# SPDX-FileCopyrightText: 2023 Rivos Inc.
#
# SPDX-License-Identifier: Apache-2.0

target/
**/*.rs.bk
**/*.sw[po]
**/*.orig
**/Cargo.lock
!/Cargo.lock
lcov.info
.vscode
tellus_raw
tellus_guestvm
guestvm_raw
*~
