# SPDX-FileCopyrightText: 2023 Rivos Inc.
#
# SPDX-License-Identifier: Apache-2.0

[submodule "sbi-rs"]
	path = sbi-rs
	url = https://github.com/rivosinc/sbi-rs
	branch = main
[submodule "rice"]
	path = rice
	url = https://github.com/rivosinc/rice
	branch = main
