name: Docs

on:
  pull_request:
    types:
      - closed
    branches:
      - 'main'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    name: Create and deploy documents
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' || github.event.pull_request.merged
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - uses: actions/checkout@v3
      with:
        ref: "main"
    - name: Install riscv64 target
      run: rustup target add riscv64gc-unknown-none-elf
    - name: Generate Docs
      run: make doc
    - name: Setup Pages
      uses: actions/configure-pages@v2
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v1
      with:
        path: 'target/riscv64gc-unknown-none-elf/doc'
    - name: Dump flattened GitHub contexts
      uses: vbem/flatten-contexts@v1
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v1
